<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TiA MaX</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>

<header class="header">
    <div class="header__container">
        <div class="header__top">
            <img src="~/images/logo.png" alt="" class="header__logo">
            <nav class="menu" id="menu">
                <button class="menu__btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="" class="menu__link">ПОДДЕРЖКА</a>
                    </li>
                    <li class="menu__item">
                        <a href="https://www.wildberries.ru/seller/100381" target="_blank" rel="noopener noreferrer" class="menu__link">Tia max</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">AlloCase</a>
                    </li>
                    <li class="menu__item">
                        <a href="https://www.wildberries.ru/seller/45196" target="_blank" rel="noopener noreferrer" class="menu__link">Bolik Case</a>
                    </li>
                    <li class="menu__item">
                        <a href="" class="menu__link">О НАС</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div class="mobile_content_main">
    <div class="mobile__content">
        <div class="first__layer">
            <div class="container">
                <div class="first__info">
                    <img src="~/images/first_image.png" alt="" class="first_img">
                    <h2 class="first__h2">НОВЫЙ ВЗГЛЯД НА <br/> ПРИВЫЧНЫЙ АКСЕССУАР</h2>
                    <p class="first__p">В нашем ассортименте - множество вариантов чехлов, <br/> от стильных и элегантных, до ярких и креативных. <br/> Наши чехлы - это не просто защита для твоих <br/> гаджетов, но и способ выделиться.</p>
                </div>
            </div>
        </div>

        <div class="second__layer">
            <div class="container">
                <div class="second__block-info">
                    <div class="second__block-info-image">
                        <img src="~/images/second_image.png" alt="">
                    </div>
                    <div class="second__block-info-text">
                        <div class="second__block-info-text-one">
                            <p>
                                более 100+ <br/> моделей
                            </p>
                        </div>
                        <div class="second__block-info-text-two">
                            <p>
                                Создай свой <br/> образ
                            </p>
                        </div>
                    </div>
                </div>
                <ul class="second__layer__list__info">
                    <li class="second__layer__list__info_element">
                        <img src="~/images/rectangel_second_layer.png" alt="">
                        <p>МНОЖЕСТВО <br/> УНИКАЛЬНЫХ ПРИНТОВ</p>
                    </li>
                    <li class="second__layer__list__info_element">
                        <img src="~/images/rectangel_second_layer.png" alt="">
                        <p>МОДНЫЕ ЧЕХЛЫ <br/> ДЛЯ КАЖДОГО ГАДЖЕТА</p>
                    </li>
                    <li class="second__layer__list__info_element">
                        <img src="~/images/rectangel_second_layer.png" alt="">
                        <p>ЧЕХЛЫ ДЛЯ ВСЕХ <br/> АКТУАЛЬНЫХ МОДЕЛЕЙ ТЕЛЕФОНОВ</p>
                    </li>
                </ul>
            </div>
        </div>


        <div class="third__layer">
            <div class="container">
                <div class="third__layer-info">
                    <p class="third__layer-text">У нас есть не только основной <br/> магазин
                        <strong>TiA MaX</strong>, но и два <br/> других потрясающих <br/> бренда:
                    </p>
                    <div class="third__layer-blocks">
                        <div class="third__layer-block-one">
                            <a href="https://www.wildberries.ru/seller/45196" target="_blank" rel="noopener noreferrer">
                                <strong>Bolik Case:</strong> - настоящий рай <br/> для геймеров и фанатов <br/> спорта!
                            </a>
                        </div>
                        <div class="third__layer-block-two">
                            <a>
                                <strong>AlloCase:</strong> создан специально <br/> для наших прекрасных <br/> дам!
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fourth__layer">
            <div class="container">
                <div class="fourth__layer-info">
                    <p class="fourth__layer-info-question">
                        ОСТАЛИСЬ ВОПРОСЫ?
                    </p>
                    <p class="fourth__layer-info-brand-name">
                        TIA MAX:
                    </p>
                    <div class="fourth__layer-info-resources">
                        <a class="fourth__layer-info-link-one" href="https://www.wildberries.ru/seller/100381" target="_blank" rel="noopener noreferrer">
                            <img src="~/images/fourth_layer_image_wb.png" alt="" class="fourth__layer-info-logo-wb">
                        </a>
                        <a class="fourth__layer-info-link-two">
                            <img src="~/images/fourth_layer_image_ozon.png" alt="" class="fourth__layer-info-logo-ozon">
                        </a>
                        <a href="https://google.com" class="fourth__layer-info-link-three">
                            ПОДДЕРЖКА
                        </a>
                    </div>

                    <div class="fourth__layer-info-social-networks">
                        <a class="fourth__layer-info-social-one" href="https://youtube.com/%40tiamaxshop?si=CU4906wcwAuuI4LF" target="_blank" rel="noopener noreferrer">
                            <img src="~/images/fourth_layer_icon_one.png" alt="">
                        </a>
                        <a class="fourth__layer-info-social-two" href="https://www.instagram.com/tiamax.store?igsh=bXMwbDZuZXJoZ3I4&utm_source=qr" target="_blank" rel="noopener noreferrer">
                            <img src="~/images/fourth_layer_icon_two.png" alt="">
                        </a>
                        <a class="fourth__layer-info-social-three" href="https://t.me/tiamaxshop" target="_blank" rel="noopener noreferrer">
                            <img src="~/images/fourth_layer_icon_three.png" alt="">
                        </a>
                        <a class="fourth__layer-info-social-four">
                            <img src="~/images/fourth_layer_icon_four.png" alt="">
                        </a>
                        <a class="fourth__layer-info-social-five">
                            <img src="~/images/fourth_layer_icon_five.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>